################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HackerRankCollections/.vs/HackerRankCollections/v15/Server/sqlite3/storage.ide-wal
/HackerRankCollections/.vs/HackerRankCollections/v15/Server/sqlite3
/HackerRankCollections/HackerRankCollections/obj
