################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HackerRankCollections/.vs/HackerRankCollections/v15/Server/sqlite3/storage.ide-wal
/HackerRankCollections/.vs/HackerRankCollections/v15/Server/sqlite3/storage.ide-shm
/HackerRankCollections/.vs/HackerRankCollections/v15/Server/sqlite3/storage.ide
/HackerRankCollections/.vs/HackerRankCollections/v15/Server/sqlite3/db.lock
/HackerRankCollections/HackerRankCollections/bin/Debug/netcoreapp2.2
/HackerRankCollections/HackerRankCollections/obj
/HackerRankCollections/.vs/HackerRankCollections/v15
